.create-user{
    height: 100vh;
    padding: 15px 8%;
}

.create-user-form {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    margin: 5px auto;
    padding: 30px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.create-user-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.create-user-form input {
    width: 100%;
    height: 45px;
    padding: 16px 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.create-user-form input:focus {
    border-color: #007bff;
    outline: none;
}

.create-user-form input::placeholder {
    color: #aaa;
}

.create-user-form form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-user-form form input[type="submit"]:hover {
    background-color: #0056b3;
}

.file-input-container {
    display: flex;
    justify-content: end;
    margin: 10px 0;
}

.file-input {
    display: none;
}

.upload-img-btn {
    display: inline-block;
    padding: 8px 10px;
    background-color: #1787ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.create-user-form button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 12px;
    background: #0056b3;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.create-user-form button:hover{
    background-color: #003874;
}

.form-switch {
    /* margin-top: 30px; */
    color: #737373;
}

.form-switch span {
    margin-left: 6px;
    color: #0a0a0a;
    font-weight: 500;
    cursor: pointer;
}

.create-user-form .goback-btn {
    background: #dc3545;
}

.create-user-form .goback-btn:hover {
    background: #c82333;
}